@font-face {
  font-family: "eva-classic";
  src: url("/fonts/EVA-Matisse_Classic.ttf");
}

@font-face {
  font-family: "eva-standard";
  src: url("/fonts/EVA-Matisse_Standard.ttf");
}


body {
  background-color: black;
  font-family: 'TimesLTPro-Semibold', Times, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 1000;
  font-family: helvetica;
  
}
  
  nav a,
  nav span {
    text-decoration: none;
    color: whitesmoke;
    margin: 1.5em 1.5em 0.5em;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }

  nav #title { 
    font-weight: bold ;
    font-family: 'eva-standard', Times, sans-serif;
  }

  #landing {
    height: 100%;
    width: 100%;
  }